<!-- INDEX PAGE -->
<div class="content">

  <!-- HEADER -->
  <div class="header">

    <!-- MAIN MENU -->
    <div>
      <ul class="nav nav-tabs nav-justified">
        <li class="pageTitle"><a href="/app/index" class="title"><b>myFoodPlace</b></a></li>
        <li class="pageLinks"><a href="#" class="mainLinks" class="link1">Login</a></li>
        <li class="pageLinks"><a href="/places/new" class="mainLinks" class="link2">Create Place</a></li>
      </ul>
    </div>
    <!-- Search Box -->

  </div>

  <!-- CONTENT -->
  <div class="contenido">

  </div>

  <!-- FOOTER -->
  <div class="footer">

  </div>


</div>
