// Place all the styles related to the app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content{
  background-color: #2E2F30;
  width: 100%;
  height: 100%;
}
.title {
  color:white;
  background-color: darkslateblue;
}
.pageTitle a:hover{
  color: white;
  background-color: darkslateblue;
}
.nav-tabs .pageTitle a:hover{
  background-color: darkslateblue;
}
.mainLinks{
  color:white;
}